<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.5.0" targetFramework="net462" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net462" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net462" />
  <package id="gong-wpf-dragdrop" version="3.2.1" targetFramework="net462" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="8.0.4" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
</packages>